body{
    font-family: arial;
    margin: 50px;
}

h1{
    text-align:center;
}
h2{
    margin: 0px;
}

a{
    background: #febe01;
    color: #332200;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;

}
.item{
    background: #111;
    color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 4px;
}

p{
    color: #b2b2b2;
}

span{
    color: #febe01;
}